<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">smpl.pk</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <!--<div class="container">
            <h1 class="display-6">Featured sample pack title</h1>
            <p class="lead">Featured sample pack description...</p>
            <a href="{# url 'detail' #}" class="btn btn-primary">Detail view</a>
            ^^^ Replace the above with normal DTL tags ^^^
        </div>-->
        <div class="container">
            <h1 class="display-2">Welcome to smpl.pk!</h1>
            <p class="lead">Check out all the sample packs below.</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#">Favorites</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">My Packs</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">Downloads</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <!-- GENRES GO HERE EVENTUALLY !-->
                <div class="row">
                    <div class="card" style="width: 18rem;">
                        {% for pack in packs %}
                        <div class="card-body">
                            <h4 class="card-title">{{ pack.name }}</h4>
                            <p class="card-text">{{ pack.description }}</p>
                            <a href="{% url 'detail' pack.id %}" class="btn btn-primary">Preview</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
