<!DOCTYPE html>
<html>

<head>
  <title>Homepage</title>
</head>

{% extends 'front-layer/base.html' %} {% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-2">Welcome to smpl.pk!</h1>
    <p class="lead">Check out all the sample packs below.</p>
  </div>
</div>
<div class="row">
  <div class="card-columns">
  {% for pack in packs %}
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ pack.name }}</h4>
          <p class="card-text">{{ pack.description }}</p>
          <a href="{% url 'detail' pack.id %}" class="btn btn-primary">Preview</a>
        </div>
      </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
