<!–– I copied and modified an example of dynamic tabs from https://www.w3schools.com/bootstrap/bootstrap_tabs_pills.asp and https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_tabs_dynamic&stacked=h -->
  <head>
    <title>User Profile</title>
  </head>

  {% extends 'front-layer/base.html' %}
  
  {% block content %}
    <div>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#info">Info</a></li>
        <li><a data-toggle="tab" href="#topPacks">Top Packs</a></li>
        <li><a data-toggle="tab" href="#allPacks">All Packs</a></li>
      </ul>

      <div class="tab-content">
        <div id="info" class="tab-pane fade in active">
          <h3>Musician Information</h3>
          <p>Some content.</p>
        </div>
        <div id="topPacks" class="tab-pane fade">
          <h3>Most Popular Sample Packs</h3>
          <p>Some content in menu 1.</p>
        </div>
        <div id="allPacks" class="tab-pane fade">
          <h3>All Sample Packs</h3>
          <p>Some content in menu 2.</p>
        </div>
      </div>
    </div>
    {% endblock %}
